body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.container {
  max-width: 100%;
  padding: 0 20px;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 5px;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
      padding: 0 40px;
  }
}

.details p {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.5;
}

.details ul {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
}

.details li {
  margin-bottom: 5px;
  padding-left: 25px;
  position: relative;
  font-size: 16px;
  line-height: 1.5;
}

.details li:before {
  content: "\2022";
  font-size: 24px;
  color: #007bff;
  position: absolute;
  left: 0;
  top: -3px;
}

.social-links {
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 480px) {
  .button-56 {
      width: 100%;
      box-sizing: border-box;
  }
}
.image-container {
  width: 200px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  position: relative;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

#images{
  display: flex;
}

@media (max-width: 480px) {
  .button-56 {
    width: 100%;
    box-sizing: border-box;
  }

  /* New styles for images on mobile */
  .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .image-container {
    width: 45%; /* Adjust the width as needed */
    margin: 5px;
  }

}